node_modules/
dist/
www-dist/
www/dist/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/release/
android/app/debug/
ios/App/build/
ios/App/Pods/
ios/App/Podfile.lock
ios/DerivedData/
*.log
.DS_Store
Thumbs.db
.env
.env.local
*.keystore
*.jks
*.mobileprovision
